/* CSS Reset */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* Variables */

:root {
  --brightRed: #f25f3a;

  --darkBlue: #242d52;

  --darkGrayishBlue: #9095a7;

  --veryDarkBlue: hsl(233, 12%, 13%);

  --veryPaleRed: #ffefeb;

  --verylightgray: #fafafa;
}

/* Global Styles */

body {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.container {
  width: 1140px;
  margin: 0px auto;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--darkBlue);
}

h2 {
  font-size: 26px;
  font-weight: 700;
  color: var(--darkBlue);
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: var(--darkBlue);
}

p {
  font-size: 16px;
  line-height: 26px;

  color: var(--darkGrayishBlue);
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: var(--brightRed);
  font-size: 13px;
  color: var(--verylightgray);
  padding: 15px 30px;
  border-radius: 50px;

  cursor: pointer;
  font-weight: 500;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  height: 150px;
  position: absolute;
  width: 100%;
}

.header .container {
  padding: 25px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0px;
}

.nav__links {
  display: inline-block;
  cursor: pointer;
}

.nav__link {
  display: inline-block;
  margin: 0px 15px;
  font-size: 13px;
  color: var(--darkBlue);
  font-weight: 500;
}

.nav__logo {
  margin-top: 10px;
}

/* Hero Styles */

.hero {
  background: url("/images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: 750px -175px;
  height: 110vh;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero__desc {
  max-width: 350px;
  margin: 30px 0px;
}
