/* CSS Reset */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* Variables */

:root {
  --brightRed: #f25f3a;
  --brightRedHover: hsl(12, 68%, 59%);

  --darkBlue: #242d52;

  --darkGrayishBlue: #9095a7;
  --darkGrayishBlueHover: hsl(227, 6%, 61%);

  --veryDarkBlue: hsl(233, 12%, 13%);

  --veryPaleRed: #ffefeb;

  --verylightgray: #fafafa;
}

/* Global Styles */

body {
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
}

.container {
  width: 1200px;
  margin: 0px auto;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--darkBlue);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--darkBlue);
}

h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--darkBlue);
}

p {
  font-size: 16px;
  line-height: 26px;

  color: var(--darkGrayishBlue);
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: var(--brightRed);
  font-size: 13px;
  color: var(--verylightgray);
  padding: 15px 30px;
  border-radius: 50px;

  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  display: inline-block;
  background-color: var(--brightRedHover);
  font-size: 13px;
  color: var(--verylightgray);
  padding: 15px 30px;
  border-radius: 50px;

  cursor: pointer;
  font-weight: 500;
}

.btn--alt {
  display: inline-block;
  background-color: var(--verylightgray);
  font-size: 13px;
  color: var(--brightRed);
  padding: 15px 30px;
  border-radius: 50px;

  cursor: pointer;
  font-weight: 500;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  height: 150px;
  position: absolute;
  width: 100%;

  transition: all 0.8s ease;
  z-index: 999;
}

.header.sticky {
  transition: all 0.8s ease;
  height: 75px;

  background: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  position: fixed;
}

.header .container {
  padding: 25px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0px;
}

.nav__links {
  display: inline-block;
  cursor: pointer;
}

.nav__link {
  display: inline-block;
  margin: 0px 15px;
  font-size: 13px;
  color: var(--darkBlue);
  font-weight: 500;
}

.nav__logo {
  margin-top: 10px;
}

/* Hero Styles */

.hero {
  background: url("/images/hero-bg.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* background-position: 750px -175px; */
  background-size: cover;
  height: 110vh;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero__title {
  max-width: 500px;
}

.hero__desc {
  max-width: 350px;
  margin: 30px 0px;
}

/* Sections Combined */

.sections-combined {
  background-image: url("/images/section-bg.svg");
  background-size: cover;
  background-position: -175px 150px;
  background-repeat: no-repeat;
}

/* Info Styles */

.info {
  padding-bottom: 100px;
}

.info .container {
  display: flex;
  justify-content: space-between;
}

.info__content {
  width: 50%;
}

.info__title {
  width: 450px;
}

.info__desc {
  width: 350px;
  margin: 30px 0px;
}

.info__services {
  width: 50%;
}

.service {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.service__order {
  background-color: var(--brightRed);
  padding: 10px 25px;
  border-radius: 50px;
  color: var(--verylightgray);
  font-weight: 500;
  margin-right: 25px;
}

.service__desc {
  max-width: 450px;
  margin: 30px 0px 60px 0px;
}

/* Review Styles */

.review {
  overflow: hidden;
}

.review .container {
  width: 100vw;
}

.review__title {
  text-align: center;
}

.swipers {
  margin: auto;
  width: 600px;
  height: 100%;
}

.testimonials {
  margin-top: 80px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 30px 30px;
  background-color: #f5f5f5;
}

.testimonial__title {
  margin: 40px 0px 20px 0px;
}

.testimonial__desc {
  text-align: center;
  min-height: 104px;
}

.testimonial__avatar {
  width: 75px;
  height: 75px;
  margin-bottom: -40px;
  z-index: 2;
}

.review__c2a {
  display: flex;
  align-items: center;
}

.review__btn {
  margin: 60px auto;
}

/* C2A Styles */

.c2a {
  margin-top: 125px;
  background-image: url("/images/c2a-banner-bg.svg");
  height: 245px;
  background-size: cover;
  background-position: center center;
}

.c2a .container {
  height: inherit;
}

.c2a__content {
  display: flex;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c2a__title {
  color: var(--verylightgray);
  max-width: 350px;
}

/* Footer styles */

.footer {
  background: hsl(233, 12%, 13%);
}

.footer .container {
  padding: 60px 0px;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.column {
  height: 125px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 175px;
}

.social {
  display: inline-block;
  color: var(--verylightgray);
  font-size: 22px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__link {
  color: var(--darkGrayishBlue);
}

.columns > .column:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  max-width: 146px;
}
